pom.xml
pom.xml.asc
*.jar
*.class
*.json
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.clj-kondo
.lsp
.calva
*.json
.clj-kondo/.cache/v1/cljs/user.transit.json
*.calva-repl
.calva/output-window/output.calva-repl
*.calva-repl
